/* ali's rules */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

html, body { height: 100%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #67809f, #252958);
}

/* the div that holds any given post */
.div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid #1b1e3f;
    width: 85%;
    border-radius: 10px;
    height: fit-content;
    background-color: #3F72AF;
    border-radius: 25px;
    text-align: center;
    color: #1b1e3f;
    width: 95%;
}


#matches {
    border-radius: 25px;
    border: 2px solid #3F72AF;
    box-shadow: 5px 5px #252958;
    background-color: #252958;
    height: 85%;
    width: 20%;
    margin-left: 2%;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    float: left;
    height: fit-content;
}

#chat {
    border-radius: 25px;
    border: 2px solid #3F72AF;
    box-shadow: 5px 5px #252958;
    background-color: #252958;
    height: 89%;
    width: 73%;
    margin-top: 0px;
    float: right;
    margin-right:2%;

}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    width: 100px;
    height: 100px;
  }

#container {
    height: 100%;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 2px 2px #3F72AF;
    background: linear-gradient(270deg, #8cabe6, #3f72af);
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 3px 3px #252958;
    margin-bottom: 25px;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: #112D4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
    /* box-shadow: 1px 1px #252958; */
}

#logout {
    float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #112D4E;
    color: #DBE2EF;
    text-decoration: underline;
}

.heading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 0px;
    background-color: #3F72AF;
    border-radius: 25px;
    text-align: center;
    color: #1b1e3f;
    width: 95%;
}


#myMatches {
    margin-top: 8%;
    width: 80%;
    
}


#chatEntry {
    width: 75%;
    border-radius: 15px;
    margin-left: 4%;

}

#chatSend {
    width: 12%;
    float: right;
    margin-right: 4%;
    margin-top: 2px;
}

#chatDiv {
    
    height: 5%;
    border-radius: 25px;
}

#messagesDiv {

    height: 75%;
    width: 92%;
    /* border-radius: 25px; */
    margin-left: auto;
    margin-right: auto;

    max-height: 65vh;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 5px solid #1b1e3f;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#matchesDiv {
    height: fit-content;
    border-radius: 25px;
    margin: 20px 20px 20px 20px;
    border: 5px solid #1b1e3f;
}

.senderChat {
    font-size: 20pt;
    background-color: #3F72AF;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    border-radius: 25px;
    text-align: center;
    padding-top: 5px;
    clear: both;

}

.recieverChat {
    font-size: 20pt;
    background-color: #3faf61;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5%;
    margin-top: 5%;
    float: right;
    border-radius: 25px;
    text-align: center;
    padding-top: 5px;
    clear: both;

}

.containerClass {

}

#chatEntry {
    margin-top: 10px;
    height: 50px;
    background-color: #1b1e3f;
    color: white;
    font-size: 25pt;
}

#chatSend {
    margin-top: 10px;
    height: 50px;
    width: 15%;
    border-radius: 25px;
    font-size: 25pt;
    color:#1b1e3f;
    background-color:#3F72AF;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3F72AF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1b1e3f;
  }