@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    background-color: #121212;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 2px 2px #3F72AF;
    background: linear-gradient(270deg, #8cabe6, #3f72af);
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 3px 3px #252958;
}

li {
    float: left;
}

li a {
    display: block;
    color: #112D4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
    /* box-shadow: 1px 1px #252958; */
}

#logout {
    float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #112D4E;
    color: #DBE2EF;
    text-decoration: underline;
}

.infoDiv {
    background: linear-gradient(270deg, #8296bd, #3f72af);
    border: 2px solid #3F72AF;
    border-radius: 10px;
    box-shadow: 3px 5px #252958;
    width: 100%;
}


/* animation to swipe right */
@keyframes right {
    0% {
        left: 0%;
        top: 0%;
    }

    100% {
        left: 1000%;
        top: -25%;
        transform: rotate(120deg);
    }
}

/* animation to swipe left */
@keyframes left {
    0% {
        right: 0%;
        top: 0%;
    }

    100% {
        right: 1000%;
        top: -25%;
        transform: rotate(-120deg);
    }
}

/* holds the current and next profile */
#profilesContainer {
    margin-top: 25px;
    width: 500px;
    height: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* shown below the current profile, this is the next one to be rendered */
#nextProfileID {
    width: 100%;
    height: 100%;
    /* what */
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 15px solid #212766;
    box-shadow: 5px 5px #101333;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* shown at the top, this is the element that animates */
.currentProfile {
    position: relative;
    width: 100%;
    height: 100%;
    /* what */
    /* z-index: 9; */
    background-color: white;
    border: 15px solid #070921;
    border-radius: 10px;
    box-shadow: 5px 5px #252958;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* don't allow animating elements to create a horizontal scrollbar */
body {
    overflow-x: hidden;
    background-color: #67809f
}

/* class for swipe buttons at the bottom */
.swipeButton {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 2px solid #3F72AF;
    box-shadow: 5px 5px #252958;
}

/* hold buttons towards the middle */
#swipeLeft {
    margin-left: 40%;
    background-color: red;
    float: left;
}

#swipeRight {
    margin-right: 40%;
    background-color: green;
    
}

/* flex flow to make aligning buttons easier */
#buttonDiv {
    margin-top: 10px;
    padding: 10px 0;
}

#currentUsername {
    visibility: hidden;
}

#heading {
    text-align: center;
}

/* Information for each profile Box */
#profileInfoDiv {
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#currentFName {
    font-size: 3em;
    display: inline;
    margin-left: 10px;
}

#currentUsername {
    font-size: 3em;
    display: inline;
    float: right;
    margin-right: 10px;
}

#match {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    visibility: hidden;
    width: 23%;
    text-align: center;
    /* offset-x | offset-y | blur-radius | color */
    border: 15px solid #070921;
    border-radius: 10px;
    box-shadow: 5px 5px #252958;
    background-color: #252958;
}

#matchButton {
    color: white;
    margin-bottom: 30px;
}

#matchHeading {
    color: white;

}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#fireworksContainer {
    position: relative;
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    position: relative; 
    width: 80%;
    height: 100%;
    background-color: #fafbff;
    border: 15px solid #070921;
    border-radius: 10px;
    box-shadow: 5px 5px #252958;
}

#check {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    color: rgb(103, 0, 0);
}

#x {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 2.0em;
    color: rgb(0, 54, 0);
}

#profilePicDiv {
    /* background-image: url("http://localhost:3000/6c858722822b011aa4c0832dfbb6ab2a.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    position: absolute;
    top: 12%;
    left: 35%;
    width: 30%;
    height: 75%;
    border-radius: 10px;
    box-shadow: 5px 5px #252958;
    background-color: #252958;

}