@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 4px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    text-align: center;
    background-color: #67809f;
    color: black;
}

#mentor {
    margin-top: 10px;
}

.checkboxLabel {
    text-align: left;
}

.checkbox {
    margin-left: auto;
    margin-right: auto;
}


#loginDiv {
   /* border: 2px solid #112D4E;*/
    border-radius: 10px;
    /* width: 30vw; */
    margin: auto;

    background-color: #F9F7F7;
    padding: 15px;
    position: absolute;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding: 80px;
  }

 /* .inputWrapper {
      margin-top: 20px;
  }*/

  .buttons {
      margin-top: 10px;
      color: #F9F7F7;
      background-color: #112D4E;
      border-color: #112D4E;
      border-radius: 5px;
      font-size: 20px;
      padding: 5px 5px;
      width: 200px;
  }

  .inputs {
      width: 200px;
      height: 25px;

  }

h1 {
    font-size: 3em;
    border-bottom: 1px solid silver;
    padding: 25px;
}

  #passwordRemind {
      color: red;
      visibility:hidden
  }

  .profileButtons {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #3F72AF;
    border-radius: 6px;
    outline: none;
  }
  




  form .inputWrapper{
    position: relative;
   /* border-bottom: 2px solid #adadad;*/
    margin: 10px 0;
  }
  .inputWrapper input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .inputWrapper label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #200303;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .inputWrapper span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #112D4E;
    transition: .5s;
  }
  .inputWrapper input:focus ~ label,
  .inputWrapper input:valid ~ label{
    top: -5px;
    color: #1b020a;
  }
  .inputWrapper input:focus ~ span::before,
  .inputWrapper input:valid ~ span::before{
    width: 100%;
  }
