@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.col-01 { width:   8.33%; }
.col-02 { width:  16.66%; }
.col-03 { width:  25.00%; }
.col-04 { width:  33.33%; }
.col-05 { width:  41.66%; }
.col-06 { width:  50.00%; }
.col-07 { width:  58.33%; }
.col-08 { width:  66.66%; }
.col-09 { width:  75.00%; }
.col-10 { width:  83.33%; }
.col-11 { width:  91.66%; }
.col-12 { width: 100.00%; }

[class*="col-"] {
    float: 			left;
    padding: 		2%;
    /* border:			4px solid white; */
}

.row::after {
    content: 		"";
    clear: 			both;
    display: 		block;
}
body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #67809f, #252958);
}
form {
    background-color: #cbd3dd;
    margin: auto;
    text-align: center;
}
.Idiv{
    text-align: center;
}
.Ldiv {
    text-align: left;
}
h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#allInterestDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#leftInterestDiv {
    float: center;
    text-align: left;
    margin-left: 100px;
}

#centerInterestDiv {
    float: center;

    text-align: left;
}

#rightInterestDiv {
    float: center;

    text-align: left;
}


#description{
    width: 50%;
}
#bottomHalf{
    clear: left;
}

#enterContent {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    resize: none; 
    word-break: break-all;
}

#usernameCheck {
    display: inline;
    font-size: 15pt;
    color: red;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 2px 2px #3F72AF;
    background: linear-gradient(270deg, #8cabe6, #3f72af);
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 3px 3px #252958;
    margin-bottom: 25px;
}

li {
    float: left;
    
}

#username {
    font-size: 40pt;


}

li a {
    display: block;
    color: #112D4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
    /* box-shadow: 1px 1px #252958; */
}

#logout {
    float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #112D4E;
    color: #DBE2EF;
    text-decoration: underline;
}

#img {
    visibility: hidden;

}